<div class="cabecalho-avisos"><span class="glyphicon glyphicon-cog"></span> Opções  Administrativas</div>
<div class="container-fluid container-menu" ng-controller="MenuAdminController">
	<ul class="menu">
		<a href="#/edital/admin/edital" ng-show="isAdmin">
			<li class="menu" ><span class="glyphicon glyphicon-book btn-lg"></span>
				<br/>Edital
			</li>
		</a>
		<a href="#/edital/admin/avisos">
			<li class="menu"><span
				class="glyphicon glyphicon-pushpin btn-lg"></span>
				<br/>Avisos
			</li>
		</a>
		<a href="#/edital/admin/arquivos">
			<li class="menu"><span
				class="glyphicon glyphicon-folder-open btn-lg"></span>
				<br/>Arquivos
			</li>
		</a>
		<a href="#/edital/admin/lista-candidatos">
			<li class="menu"><span
				class="glyphicon glyphicon-user btn-lg"></span>
				<br/>Candidatos
			</li>
		</a>
		<a href="#/edital/admin/fechamentos">
			<li class="menu"><span
				class="glyphicon glyphicon-list-alt btn-lg"></span>
				<br/>Fechamentos
			</li>
		</a>
	</ul>
</div>