<div class="container col-lg-12"  ng-controller="AdmCandidatosController">
	<div class="row" >
		<div class="col-lg-9">
			<div class="panel panel-default">
			<div class="panel-heading">
			<h3>Candidatos</h3>
			<input id="search"  type="text" class="form-control input-xg" ng-model="buscaNome" placeholder="Buscar"/> 
			</div>
			  <div class="panel-body">
			      <div>
				      <div>
							
							<table class="table table-striped">
								<tr class="panel-heading">
									<th width="130px" ng-click="order('antiguidade')">
										<a class='btn btn-link'>Antiguidade</a>
										<span class="sortorder" ng-show="predicado === 'antiguidade'" ng-class="{reverse:reverse}"></span>
									</th>
									<th width="400px" ng-click="order('nomeCompleto')">
										<a class='btn btn-link'>Nome</a>
										<span class="sortorder" ng-show="predicado === 'nomeCompleto'" ng-class="{reverse:reverse}"></span>
									</th>
									<th width="150px" ng-click="order('descricaoLotacao')">				
										<a class='btn btn-link'>Lotação Atual</a>
										<span class="sortorder" ng-show="predicado === 'descricaoLotacao'" ng-class="{reverse:reverse}"></span>
									</th>
									<th width="80px"  ng-click="order('email')">
										<a class='btn btn-link'>Email</a>
										<span class="sortorder" ng-show="predicado === 'email'" ng-class="{reverse:reverse}"></span>
									</th>
									<th width="50px">
										Opções
									</th>
								</tr>
								<tr ng-repeat="candidato in candidatos| filter: buscaNome | orderBy:predicado:reverse">
									<td>
										{{candidato.antiguidade}}
									</td>
									<td>
										<div class="word-wrap-400">{{candidato.nomeCompleto}}</div>
									</td>
									<td>
										{{candidato.descricaoLotacao}}
									</td>
									<td>
										{{candidato.email}}
									</td>
									<td>
										<button class="btn btn-default btn-xs" value="" ng-click="verHistorico(candidato.idCandidato)" title='Histórico'>
											<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
										</button>
									</td>
								</tr>		
							</table>
						</div>
				      </div>			  
				</div>
		  </div>
		</div>
		<div class="col-lg-3">
			<div ng-include="'app/views/partials/admin/lateral.html'"></div>
		</div>
	</div>
</div>
<!--  -->
<script type="text/ng-template" id="modal-historico-candidato.html">	
			<div class="panel panel-default">

				  <div class="panel-heading">
				    <h3 class="panel-title">Histórico do candidato</h3>
				  </div>
				  <div class="panel-body ">
						<div ng-repeat="item in historico" >
							<div ng-click="mostra=!mostra" ng-init='$index==0?mostra=true:mostra=false' class="cabecalho-avisos cursor-pointer" ng-class="{'sort-false exibir': mostra==true,'sort-true ocultar': mostra==false}">{{item.data}}</div>
							<ul ng-show='mostra || mostra1' >
								<li class="nomargin option container-fluid" ng-repeat="subItem in item.opcoes">{{subItem.ordem}} . {{subItem.descricao}}</li>
								<span class='noOptions' ng-show='item.opcoes.length<1'> Sem opções (Você excluiu todas as suas opções neste evento do histórico) </span>
							</ul>
						</div>						
				  </div>
				   <div class="panel-footer"style="text-align:right;">	
						    <a class='btn btn-default btn-xg' ng-show="model.descricaoAviso!=null"  ng-click='salvarAviso();closeThisDialog(0)'>Salvar <span class='glyphicon glyphicon-ok'></span></a>
							<a class='btn btn-default btn-xg' ng-click="closeThisDialog(0)">Sair<span class='glyphicon glyphicon-log-out'></span></a>
				   </div>
			 </div>
</script> 
