<div class="container col-lg-12" ng-controller="BoasVindasController">
	<div class="row " >
		<div class='col-lg-3'></div>
		<div class='col-lg-6'>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>{{boasVindas.titulo}}</b></h3>
				  </div>
				  <div class="panel-body ">
				    <p><b ng-bind-html="boasVindas.texto"></b></p>
				    <select 
				    class="btn btn-default btn-xg col-lg-12"   
				    ng-model="indexEdital" 
				    ng-change="selecionaEdital()" 
				    ng-show="dataUser.editaisAtivos.length>1 && dataUser.perfil!='[CANDIDATO]'"
				    >
				    	<option ng-show="indexEdital" value='' disabled selected style='display:none;' >::. Escolha uma opção .::</option>
				    	<option ng-repeat="item in dataUser.editaisAtivos" value='{{$index}}'>{{item.descricaoEdital}}</option>
					</select>
				  </div>
				   <div class="panel-footer ngdialog-buttons">
        	          <button class="btn btn-default" ng-click="logout()">Sair <span class="glyphicon glyphicon-log-out"></span></button>
        	          <button 
        	          ng-show="boasVindas.prosseguir && (dataUser.editaisAtivos.length==1||(dataUser.perfil=='[CANDIDATO]'&& (dataUser.editaisAtivos!='' && dataUser.editaisAtivos!=null)))" 
        	          ng-click="indexEdital=0;selecionaEdital();" 
        	          class="btn btn-default" 
        	          >Prosseguir <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span></button>
				   </div>
			 </div>
	
		</div>
		<div class='col-lg-3'></div>
	</div>
</div>